---
import { Table as OuterbaseTable } from '../components/outerbase-table'
import sampleData from '../lib/sample-data.json'
---
<html lang="en" class="h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <style>
            :root {
                /* consider this as a placeholder for a theme */
                /* --primary-color: white; */
                /* --secondary-color: gray; */
            }

        </style>
        <script>
            /* themes may also be set dynamically/programatically */
            // document.documentElement.style.setProperty("--success-color", "lime");
        </script>
    </head>

    <body class="h-full">
        <main class="h-full">
            <div class="m-12">
                <h1 class="text-theme-success font-bold">LitTable</h1>
                <OuterbaseTable client:load data={sampleData}></OuterbaseTable>
            </div>
        </main>
    </body>
</html>
